node-red/fluxo-manutencao-preditiva.json
[
  {
    "id": "tab_manutencao_preditiva",
    "type": "tab",
    "label": "Manutenção Preditiva",
    "disabled": false,
    "info": "Fluxo para o Trabalho Final de Industria 4.0: manutenção preditiva com MQTT, Node-RED e Dashboard."
  },
  {
    "id": "mqtt_broker_disciplina",
    "type": "mqtt-broker",
    "name": "Broker MQTT Disciplina",
    "broker": "76.13.175.168",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "ui_tab_manutencao",
    "type": "ui_tab",
    "name": "Manutenção Preditiva",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_indicadores",
    "type": "ui_group",
    "name": "Indicadores em tempo real",
    "tab": "ui_tab_manutencao",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ui_group_graficos",
    "type": "ui_group",
    "name": "Histórico dos sensores",
    "tab": "ui_tab_manutencao",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ui_group_alerta",
    "type": "ui_group",
    "name": "Alerta de manutenção",
    "tab": "ui_tab_manutencao",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "mqtt_in_sensores",
    "type": "mqtt in",
    "z": "tab_manutencao_preditiva",
    "name": "Receber sensores",
    "topic": "sensores/#",
    "qos": "0",
    "datatype": "utf8",
    "broker": "mqtt_broker_disciplina",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 120,
    "wires": [
      [
        "json_converter"
      ]
    ]
  },
  {
    "id": "json_converter",
    "type": "json",
    "z": "tab_manutencao_preditiva",
    "name": "Converter JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 350,
    "y": 120,
    "wires": [
      [
        "function_processar_sensores"
      ]
    ]
  },
  {
    "id": "function_processar_sensores",
    "type": "function",
    "z": "tab_manutencao_preditiva",
    "name": "Processar indicadores e alerta",
    "func": "// === Manutencao preditiva - processamento multi-linha + painel ===\n// Mantem o estado de cada linha, agrega entre linhas para os gauges,\n// gera uma serie por linha para os graficos e um snapshot para o painel.\n\nlet dados = msg.payload;\nconst linha = (msg.topic || 'sensores/linha?').split('/').pop();\n\nif (typeof dados === 'string') {\n    try {\n        dados = JSON.parse(dados);\n    } catch (erro) {\n        node.warn(`JSON invalido em ${msg.topic}: ${dados}`);\n        return null;\n    }\n}\nif (!dados || typeof dados !== 'object') {\n    node.warn(`Payload inesperado em ${msg.topic}`);\n    return null;\n}\n\n// --- Leitura independente por sensor ---\nconst estados = context.get('estados') || {};\nconst leitura = estados[linha] ? Object.assign({}, estados[linha].valores) : {};\n\nfunction lerSensor(chave, campo) {\n    const valor = Number(dados[campo]);\n    if (Number.isFinite(valor)) {\n        leitura[chave] = valor;\n    } else {\n        node.warn(`Sensor '${campo}' ausente/invalido em ${msg.topic}`);\n    }\n}\n\nlerSensor('temperatura', 'temperatura');\nlerSensor('umidade', 'umidade');\nlerSensor('radiacao', 'radiacao');\nlerSensor('pressao', 'pressao');\nlerSensor('vazao', 'vazao');\nlerSensor('vibracao', 'acelerometro');\n\nestados[linha] = { valores: leitura, timestamp: new Date().toISOString() };\ncontext.set('estados', estados);\n\nconst linhas = Object.keys(estados);\n\n// --- Agregacao entre linhas ---\nfunction agregar(chave, modo) {\n    const vals = linhas\n        .map((l) => estados[l].valores[chave])\n        .filter((v) => Number.isFinite(v));\n    if (vals.length === 0) return null;\n    if (modo === 'max') return Math.max.apply(null, vals);\n    return vals.reduce((a, b) => a + b, 0) / vals.length;\n}\n\nconst tempMax = agregar('temperatura', 'max');\nconst vibMax = agregar('vibracao', 'max');\n\nfunction gauge(valor) {\n    return Number.isFinite(valor) ? { payload: Number(valor.toFixed(2)) } : null;\n}\n\nconst gTemp = gauge(tempMax);\nconst gUmid = gauge(agregar('umidade', 'media'));\nconst gRad = gauge(agregar('radiacao', 'media'));\nconst gPres = gauge(agregar('pressao', 'media'));\nconst gVazao = gauge(agregar('vazao', 'media'));\nconst gVib = gauge(vibMax);\n\n// --- Graficos: uma serie por linha (topic = linha) ---\nfunction chart(chave) {\n    const v = leitura[chave];\n    return Number.isFinite(v) ? { topic: linha, payload: v } : null;\n}\n\nconst cTemp = chart('temperatura');\nconst cVib = chart('vibracao');\nconst cVazao = chart('vazao');\n\n// --- Snapshot por linha (para o painel) e avaliacao de alerta ---\nconst linhasOrdenadas = linhas.slice().sort();\nconst snapshot = [];\nconst linhasAlerta = [];\n\nfor (const l of linhasOrdenadas) {\n    const v = estados[l].valores;\n    const t = Number.isFinite(v.temperatura) ? v.temperatura : null;\n    const vb = Number.isFinite(v.vibracao) ? v.vibracao : null;\n    const alertaT = t !== null && t > 35;\n    const alertaV = vb !== null && vb > 4;\n\n    snapshot.push({\n        nome: l,\n        tempTxt: t !== null ? t.toFixed(1) : '--',\n        vibTxt: vb !== null ? vb.toFixed(2) : '--',\n        alertaTemp: alertaT,\n        alertaVib: alertaV,\n        emAlerta: alertaT || alertaV\n    });\n\n    if (alertaT || alertaV) {\n        const motivos = [];\n        if (alertaT) motivos.push(`temperatura ${t.toFixed(1)} °C`);\n        if (alertaV) motivos.push(`vibração ${vb.toFixed(2)} g`);\n        linhasAlerta.push({ linha: l, motivos });\n    }\n}\n\nconst emAlerta = linhasAlerta.length > 0;\n\n// --- Transicao de estado da linha que publicou: toast + log ---\nconst hora = new Date().toLocaleTimeString('pt-BR', { hour12: false });\nconst log = context.get('log') || [];\nconst alertaPorLinha = context.get('alertaPorLinha') || {};\n\nconst estaEmAlerta = linhasAlerta.some((a) => a.linha === linha);\nconst estavaEmAlerta = alertaPorLinha[linha] || false;\n\nlet toastMsg = null;\nif (estaEmAlerta && !estavaEmAlerta) {\n    const info = linhasAlerta.find((a) => a.linha === linha);\n    const motivo = info.motivos.join(' e ');\n    toastMsg = { topic: 'Manutenção preditiva', payload: `${linha}: ${motivo}` };\n    log.unshift({ hora, linha, tipo: 'alerta', texto: motivo });\n} else if (!estaEmAlerta && estavaEmAlerta) {\n    log.unshift({ hora, linha, tipo: 'ok', texto: 'retornou ao normal' });\n}\nwhile (log.length > 6) log.pop();\ncontext.set('log', log);\n\nalertaPorLinha[linha] = estaEmAlerta;\ncontext.set('alertaPorLinha', alertaPorLinha);\n\n// --- Payload do painel (ui_template) ---\nconst painelMsg = {\n    payload: {\n        emAlerta,\n        qtd: linhasAlerta.length,\n        linhasAlerta: linhasAlerta.map((a) => a.linha),\n        linhas: snapshot,\n        log\n    }\n};\n\nreturn [gTemp, gUmid, gRad, gPres, gVazao, gVib, cTemp, cVib, cVazao, painelMsg, toastMsg];\n",
    "outputs": 11,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 120,
    "wires": [
      [
        "gauge_temperatura"
      ],
      [
        "gauge_umidade"
      ],
      [
        "gauge_radiacao"
      ],
      [
        "gauge_pressao"
      ],
      [
        "gauge_vazao"
      ],
      [
        "gauge_vibracao"
      ],
      [
        "chart_temperatura"
      ],
      [
        "chart_vibracao"
      ],
      [
        "chart_vazao"
      ],
      [
        "painel_alerta"
      ],
      [
        "toast_alerta"
      ]
    ]
  },
  {
    "id": "gauge_temperatura",
    "type": "ui_gauge",
    "z": "tab_manutencao_preditiva",
    "name": "Temperatura",
    "group": "ui_group_indicadores",
    "order": 1,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Temperatura (máx)",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "60",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "30",
    "seg2": "35",
    "className": "",
    "x": 920,
    "y": 60
  },
  {
    "id": "gauge_umidade",
    "type": "ui_gauge",
    "z": "tab_manutencao_preditiva",
    "name": "Umidade",
    "group": "ui_group_indicadores",
    "order": 2,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Umidade (média)",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "70",
    "seg2": "80",
    "className": "",
    "x": 920,
    "y": 100
  },
  {
    "id": "gauge_radiacao",
    "type": "ui_gauge",
    "z": "tab_manutencao_preditiva",
    "name": "Radiação Solar",
    "group": "ui_group_indicadores",
    "order": 3,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Radiação Solar (média)",
    "label": "W/m²",
    "format": "{{value}}",
    "min": 0,
    "max": "1200",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "700",
    "seg2": "1000",
    "className": "",
    "x": 920,
    "y": 140
  },
  {
    "id": "gauge_pressao",
    "type": "ui_gauge",
    "z": "tab_manutencao_preditiva",
    "name": "Pressão",
    "group": "ui_group_indicadores",
    "order": 4,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Pressão (média)",
    "label": "bar",
    "format": "{{value}}",
    "min": 0,
    "max": "10",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "6",
    "seg2": "8",
    "className": "",
    "x": 920,
    "y": 180
  },
  {
    "id": "gauge_vazao",
    "type": "ui_gauge",
    "z": "tab_manutencao_preditiva",
    "name": "Vazão",
    "group": "ui_group_indicadores",
    "order": 5,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Vazão (média)",
    "label": "L/min",
    "format": "{{value}}",
    "min": 0,
    "max": "200",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "130",
    "seg2": "160",
    "className": "",
    "x": 920,
    "y": 220
  },
  {
    "id": "gauge_vibracao",
    "type": "ui_gauge",
    "z": "tab_manutencao_preditiva",
    "name": "Vibração",
    "group": "ui_group_indicadores",
    "order": 6,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Vibração (máx)",
    "label": "g",
    "format": "{{value}}",
    "min": 0,
    "max": "8",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "3",
    "seg2": "4",
    "className": "",
    "x": 920,
    "y": 260
  },
  {
    "id": "chart_temperatura",
    "type": "ui_chart",
    "z": "tab_manutencao_preditiva",
    "name": "Histórico Temperatura",
    "group": "ui_group_graficos",
    "order": 1,
    "width": 12,
    "height": 4,
    "label": "Temperatura por linha",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados MQTT...",
    "dot": false,
    "ymin": "0",
    "ymax": "60",
    "removeOlder": 10,
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#ff7f0e",
      "#2ca02c",
      "#d62728",
      "#9467bd",
      "#8c564b",
      "#e377c2",
      "#7f7f7f",
      "#bcbd22"
    ],
    "outputs": 1,
    "className": "",
    "x": 920,
    "y": 320
  },
  {
    "id": "chart_vibracao",
    "type": "ui_chart",
    "z": "tab_manutencao_preditiva",
    "name": "Histórico Vibração",
    "group": "ui_group_graficos",
    "order": 2,
    "width": 12,
    "height": 4,
    "label": "Vibração por linha",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados MQTT...",
    "dot": false,
    "ymin": "0",
    "ymax": "8",
    "removeOlder": 10,
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#d62728",
      "#1f77b4",
      "#2ca02c",
      "#ff7f0e",
      "#9467bd",
      "#8c564b",
      "#e377c2",
      "#7f7f7f",
      "#bcbd22"
    ],
    "outputs": 1,
    "className": "",
    "x": 920,
    "y": 360
  },
  {
    "id": "chart_vazao",
    "type": "ui_chart",
    "z": "tab_manutencao_preditiva",
    "name": "Histórico Vazão",
    "group": "ui_group_graficos",
    "order": 3,
    "width": 12,
    "height": 4,
    "label": "Vazão por linha",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados MQTT...",
    "dot": false,
    "ymin": "0",
    "ymax": "200",
    "removeOlder": 10,
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#2ca02c",
      "#1f77b4",
      "#ff7f0e",
      "#d62728",
      "#9467bd",
      "#8c564b",
      "#e377c2",
      "#7f7f7f",
      "#bcbd22"
    ],
    "outputs": 1,
    "className": "",
    "x": 920,
    "y": 400
  },
  {
    "id": "painel_alerta",
    "type": "ui_template",
    "z": "tab_manutencao_preditiva",
    "group": "ui_group_alerta",
    "name": "Painel de alerta por linha",
    "order": 1,
    "width": 12,
    "height": 6,
    "format": "<style>\n.mp-wrap { font-family: inherit; padding: 4px 2px; }\n.mp-head { display:flex; align-items:center; gap:10px; border-radius:6px; padding:10px 14px; margin-bottom:10px; }\n.mp-head i { font-size:20px; }\n.mp-grid { display:grid; grid-template-columns: repeat(5, 1fr); gap:8px; }\n.mp-card { background:#fff; border:1px solid #e0e0e0; border-radius:6px; padding:10px; }\n.mp-card.alert { border:2px solid #e53935; }\n.mp-name { font-weight:500; font-size:13px; display:flex; justify-content:space-between; align-items:center; margin-bottom:6px; }\n.mp-row { display:flex; justify-content:space-between; font-size:12px; margin-top:3px; }\n.mp-mut { color:#777; }\n.mp-bad { color:#c62828; font-weight:500; }\n.mp-log { margin-top:10px; background:#fff; border:1px solid #e0e0e0; border-radius:6px; padding:8px 12px; }\n.mp-log-title { font-size:11px; color:#999; margin-bottom:4px; }\n.mp-log-row { font-size:12px; padding:2px 0; }\n.mp-log-row .h { color:#999; }\n@media (max-width: 600px){ .mp-grid{ grid-template-columns: repeat(2, 1fr); } }\n</style>\n<div class=\"mp-wrap\" ng-if=\"msg.payload\">\n  <div class=\"mp-head\" ng-style=\"{background: msg.payload.emAlerta ? '#fdecea' : '#e8f5e9', color: msg.payload.emAlerta ? '#c62828' : '#2e7d32'}\">\n    <i class=\"fa\" ng-class=\"msg.payload.emAlerta ? 'fa-exclamation-triangle' : 'fa-check-circle'\"></i>\n    <div>\n      <div style=\"font-weight:500; font-size:15px;\">\n        <span ng-if=\"msg.payload.emAlerta\">{{msg.payload.qtd}} linha(s) em alerta</span>\n        <span ng-if=\"!msg.payload.emAlerta\">Todos os motores normais</span>\n      </div>\n      <div style=\"font-size:12px;\" ng-if=\"msg.payload.emAlerta\">{{msg.payload.linhasAlerta.join(' · ')}} — manutenção recomendada</div>\n      <div style=\"font-size:12px;\" ng-if=\"!msg.payload.emAlerta\">{{msg.payload.linhas.length}} linha(s) monitorada(s)</div>\n    </div>\n  </div>\n  <div class=\"mp-grid\">\n    <div class=\"mp-card\" ng-repeat=\"l in msg.payload.linhas\" ng-class=\"{alert: l.emAlerta}\">\n      <div class=\"mp-name\">\n        <span>{{l.nome}}</span>\n        <i class=\"fa\" ng-class=\"l.emAlerta ? 'fa-exclamation-triangle' : 'fa-check'\" ng-style=\"{color: l.emAlerta ? '#c62828' : '#2e7d32'}\"></i>\n      </div>\n      <div class=\"mp-row\"><span class=\"mp-mut\">Temp</span><span ng-class=\"{'mp-bad': l.alertaTemp}\">{{l.tempTxt}} °C</span></div>\n      <div class=\"mp-row\"><span class=\"mp-mut\">Vib</span><span ng-class=\"{'mp-bad': l.alertaVib}\">{{l.vibTxt}} g</span></div>\n    </div>\n  </div>\n  <div class=\"mp-log\" ng-if=\"msg.payload.log.length\">\n    <div class=\"mp-log-title\">Ocorrências recentes</div>\n    <div class=\"mp-log-row\" ng-repeat=\"ev in msg.payload.log\" ng-style=\"{color: ev.tipo==='alerta' ? '#c62828' : '#2e7d32'}\">\n      <span class=\"h\">{{ev.hora}}</span>&nbsp; {{ev.linha}} — {{ev.texto}}\n    </div>\n  </div>\n</div>\n",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 920,
    "y": 460
  },
  {
    "id": "toast_alerta",
    "type": "ui_toast",
    "z": "tab_manutencao_preditiva",
    "position": "top right",
    "displayTime": "6",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "className": "",
    "topic": "",
    "name": "Popup de alerta",
    "x": 920,
    "y": 500,
    "wires": []
  }
]